{% extends 'driverNavbar.html' %}
{% block main %}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Profile</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'ddashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Update Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Profile</h3>
                    </div>

                    <!-- form start -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Your ID</label>
                                <input type="text" name="DriverID" class="form-control" value="{{driver.DriverID}}" readonly>
                            </div>

                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" name="firstName" class="form-control" value="{{driver.user.first_name}}">
                            </div>

                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" name="MobileNumber" class="form-control"
                                       value="{{driver.MobileNumber}}" maxlength="10">
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="emailid" class="form-control" value="{{driver.user.username}}" readonly>
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" name="Address" class="form-control" value="{{driver.Address}}">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% if error == "no" %}
<script>
        alert('Profile has been Updated');
</script>
{% endif %}

{% if error == "yes" %}
<script>
        alert('Something went wrong, Try Again...');
</script>
{% endif %}

{% endblock %}